*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/*== ROOT ==*/

:root {
  --primary-color: #1b1b1b;
  --secondary-color: #ffffff;
  --gray-color: #343434;
  --gray-deep-color: ##858585;
  --blue-color: #8cb4ff;
  --text-secondary: #cdcdcd;
  --bg-color: #0085f230;
  --pink-color: #ff6d91;
  --info-color: #5e9eff;

  /* transition */
  --animation: 150ms;
}

/*== COMMON_REUSED ==*/

/* container */

.container {
  width: 75%;
  margin: 0 auto;
}

/* display_flex */
.d--flex {
  display: flex;
}

/* justify_contant_center */
.d--j-c-sb {
  justify-content: space-between;
}

/* align_items_center */
.d--aln-itm {
  align-items: center;
}

/* text_align */
.txt--aln {
  text-align: center;
}

.brd--b {
  border-bottom: 1px solid rgba(255, 255, 255, 0.384);
}

.a-u {
  color: var(--blue-color);
  text-decoration: none;
  transition: var(--animation);
}
.a-u:hover {
  text-decoration: underline;
}

.bold {
  font-weight: 600;
}
/*=== _BODY_ ===*/

body {
  background: var(--primary-color);
}

/*=== ALART ===*/
.alart {
  background-color: var(--gray-color);
  color: var(--secondary-color);
  padding: 16px 0;
}

/*=== HEADER ===*/
.header {
  padding: 14px 0;
}

.navbar-brand {
  text-decoration: none;
  color: #ffffff;
  padding-right: 16px;
}

.logo-image img {
  width: 170px;
}

.list-box {
  list-style: none;
  padding: 12px 18px;
  transition: var(--animation);
  border-radius: 4px;
}

.list-box a {
  text-decoration: none;
  color: var(--text-secondary);
  transition: var(--animation);
}

.list-box:hover {
  background-color: var(--bg-color);
  cursor: pointer;
}

.list-box:hover .nav-link {
  color: var(--blue-color);
}

.list-box span {
  position: relative;
  font-size: 7px;
  background: var(--pink-color);
  font-weight: 600;
  color: var(--primary-color);
  padding: 1px 3px;
  border-radius: 10px;
  top: -10px;
  right: -1px;
  z-index: 2;
}

.btn-1 {
  font-weight: 500;
  text-decoration: none;
  color: var(--text-secondary);
  font-size: 14px;
  padding: 6px 18px;
  line-height: 1.6;
  cursor: pointer;
}
.btn-2 {
  font-weight: 500;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-decoration: none;
  padding: 6px 18px;
  font-size: 14px;
  border-radius: 4px;
  line-height: 1.6;
  cursor: pointer;
  transition: var(--animation);
}

.btn-2:hover {
  background-color: #ffffffda;
  color: var(--primary-color);
}

/* dropdoown */

.drop--down {
  position: relative;
  transition: var(--animation);
}

.drop--down-btn {
  padding: 6px 18px;
  background: transparent;
  border: none;
  border-radius: 4px;
  color: var(--text-secondary);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.drop--down:hover .drop--down-btn {
  background: var(--gray-color);
}

.drop--down-btn svg {
  fill: var(--text-secondary);
  width: 20px;
  padding-right: 4px;
}

.drop--down-content {
  display: none;
  position: absolute;
  background-color: var(--gray-color);
  min-width: 140px;
  padding: 8px;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.384);
  border-radius: 4px;
  box-shadow: rgba(251, 251, 254, 0.2) 0px 1px 6px 0px;
}

.drop--down-content a {
  color: var(--secondary-color);
  text-decoration: none;
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  transition: var(--animation);
}

.drop--down-content a:hover {
  background-color: #1b1b1b;
}

.down-content_theme svg {
  fill: var(--secondary-color);
  width: 22px;
  padding-right: 8px;
}

.drop--down:hover .drop--down-content {
  display: block;
}

.drop--down:hover .btn-x {
  background: var(--primary-color);
}

/*=== BREADCRUMP ===*/
.breadcrump {
  background: var(--gray-color);
  height: 38px;
}

.l-bdcp_menu {
  flex-wrap: wrap;
  list-style: none;
}

.l-bdcp_menu li:not(:last-child)::after {
  display: inline-block;
  margin: 12px;
  content: ">";
  color: var(--text-secondary);
}

.l-bdcp_menu li a {
  text-decoration: none;
  color: var(--text-secondary);
  transition: var(--animation);
}

.l-bdcp_menu li a:hover {
  text-decoration: underline;
}

/*=== MAIN ===*/
.main {
}

.main--container {
  display: grid;
  grid-template-columns: 0.4fr 1fr 0.3fr;
  column-gap: 20px;
}
/* left_menu */

.l_menu {
  overflow-y: scroll;
  height: 70vh;
  padding-top: 16px;
}

.l_menu-box h4 {
  color: var(--text-secondary);
  padding: 40px 0 8px 0;
  cursor: pointer;
}

.l_menu-box h4:hover {
  text-decoration: underline;
}

details {
  padding-top: 16px;
  padding-bottom: 6px;
}

summary {
  color: var(--text-secondary);
  font-size: 14px;
  cursor: pointer;
  padding-bottom: 6px;
}

summary:hover {
  text-decoration: underline;
}

.l_menu--a-list {
  display: block;
  text-decoration: none;
  color: var(--text-secondary);
  padding-left: 18px;
  padding-top: 6px;
  font-size: 14px;
  line-height: 1.7;
}

.l_menu--a-list:hover {
  text-decoration: underline;
}


/* middle_content */

.mc_box {
  padding: 20px;
}

.mc_header {
  color: var(--secondary-color);
  font-size: 38px;
  font-weight: 500;
  padding-top: 32px;
  line-height: 1;
}

.mc_pera {
  color: var(--secondary-color);
  padding-top: 32px;
  line-height: 1.7;
}

.mc_wrapper-pd {
  margin-top: 32px;
}

.pd-header {
  color: var(--secondary-color);
  line-height: 1;
}

.pd-pera {
  color: var(--secondary-color);
  line-height: 1.8;
  padding-left: 16px;
  padding-top: 16px;
}

.a-u-x {
  text-decoration: underline;
}

.mc_inner-box {
  border: 1px solid rgba(255, 255, 255, 0.384);
  border-radius: 4px;
  margin-top: 32px;
  background: var(--gray-color);
  padding: 18px;
  box-shadow: rgba(251, 251, 254, 0.2) 0px 1px 2px 0px;
}

.mc_inner-box h3 {
  color: var(--secondary-color);
  font-size: 24px;
  font-weight: 400;
}

.mc_inner-box p {
  color: var(--secondary-color);
  line-height: 1.8;
  padding-top: 18px;
  padding-bottom: 18px;
}

.mc_inner-box a {
  display: block;
  padding-bottom: 34px;
}


.error_box{
  margin-top: 32px;
  background: #0085f217;
  padding: 16px;
  display: flex;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.384);
  box-shadow: rgba(251, 251, 254, 0.2) 0px 1px 2px 0px;
  border-left: 4px solid #5e9eff;
}

.error_icon{
  padding-top: 6px;
}

.error_box svg{
  width: 18px;
  fill: var(--info-color);
}

.error_box p{
  padding-left: 16px;
  color: var(--text-secondary);
  line-height: 1.8;
}

.a-u-gry{
  color: var(--text-secondary);
}


/* right_menu */

.r_menu{
  padding-top: 48px;
}
.r_menu p{
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 16px;

}

.r_menu-box{
  padding-left: 2px;

}
.r_menu-box a{
  display: block;
  color: var(--text-secondary);
  font-size: 14px;
  padding: 12px;
  cursor: pointer;
}
.r_menu-box a{
  display: block;
  color: var(--text-secondary);
  font-size: 14px;
  padding: 12px;
  cursor: pointer;
  border-left: 2px solid var(--text-secondary);
  transition: var(--animation);
}

.r_menu-box a:hover{
  background: var(--bg-color);
  color: var(--blue-color);
  border-radius: 0 4px 4px 0px;
  border-left: 2px solid var(--info-color);
}

/*=== FOOTER ===*/

/* top footer */

.footer{
  background: var(--gray-color);
  padding: 36px 0;
  margin-top: 48px;
}

/* top footer */

.t_fr{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/* .t_fr-box:not(:first-child){
  text-align: center;
} */

.t-fr-logo{
  font-size: 24px;
  font-weight: 700;
  color: var(--text-secondary);
  letter-spacing: 0.5px;
}

.t-fr-pera{
  color: var(--text-secondary);
  padding-top: 8px;
}

.socal-icon div{
  fill: var(--text-secondary);
  padding-right: 20px;
  padding-top: 32px;
  cursor: pointer;
}

.si_icon svg{
  width: 18px;
}

.pd_fr{
 padding-left: 80px;
 padding-bottom: 32px;
}

.fr_menu_p{
  font-size: 16px;
  font-weight: 400;
  color: var(--text-secondary);
}

.fr_menu{
  list-style: none;
}

.fr_menu li{
  padding-top: 14px;
}

.fr_menu li a{
  text-decoration: none;
  color: var(--text-secondary);
  text-align: left;
  font-size: 14px;
  margin-top: 16px;
}
