*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/*== ROOT ==*/

:root {
  --primary-color: #1b1b1b;
  --secondary-color: #ffffff;
  --gray-color: #343434;
  --gray-deep-color: ##858585;
  --blue-color: #8cb4ff;
  --text-secondary: #cdcdcd;
  --bg-color: #0085f230;

  /* transition */
  --animation: 150ms;
}

/*== COMMON_REUSED ==*/

/* container */

.container {
  width: 80%;
  margin: 0 auto;
}

/* display_flex */
.d--flex {
  display: flex;
}

/* justify_contant_center */
.d--j-c-sb {
  justify-content: space-between;
}

/* align_items_center */
.d--aln-itm {
  align-items: center;
}

/* text_align */
.txt--aln {
  text-align: center;
}

.brd--b {
  border-bottom: 1px solid rgba(255, 255, 255, 0.384);
}

.a-u {
  color: var(--blue-color);
  text-decoration: none;
  transition: var(--animation);
}
.a-u:hover{
  text-decoration: underline;
}

/*=== _BODY_ ===*/

body {
  background: var(--primary-color);
}

/*=== ALART ===*/
.alart {
  background-color: var(--gray-color);
  color: var(--secondary-color);
  padding: 16px 0;
}

/*=== HEADER ===*/
.header {
  padding: 14px 0;
}

.navbar-brand {
  text-decoration: none;
  color: #ffffff;
  padding-right: 24px;
}

.logo-image img {
  width: 150px;
}

.list-box {
  list-style: none;
  padding: 12px 18px;
  transition: var(--animation);
  border-radius: 4px;
}

.list-box a {
  text-decoration: none;
  color: var(--text-secondary);
  transition: var(--animation);
}

.list-box:hover {
  background-color: var(--bg-color);
  cursor: pointer;
}

.list-box:hover .nav-link {
  color: var(--blue-color);
}

.btn-1 {
  font-weight: 500;
  text-decoration: none;
  color: var(--text-secondary);
  font-size: 14px;
  padding: 8px 18px;
  cursor: pointer;
}
.btn-2 {
  font-weight: 500;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-decoration: none;
  padding: 8px 18px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: var(--animation);
}

.btn-2:hover {
  background-color: #ffffffda;
  color: var(--primary-color);
}
.icon{
  padding-right: 5px;
}

.icon svg{
  fill: #ffffff;
  width: 18px;
}


option{
  
}