*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/*== ROOT ==*/

:root {
  --primary-color: #1b1b1b;
  --secondary-color: #ffffff;
  --gray-color: #343434;
  --gray-deep-color: ##858585;
  --blue-color: #8cb4ff;
  --text-secondary: #cdcdcd;
  --bg-color: #0085f230;
  --pink-color: #ff6d91;

  /* transition */
  --animation: 150ms;
}

/*== COMMON_REUSED ==*/

/* container */

.container {
  width: 75%;
  margin: 0 auto;
}

/* display_flex */
.d--flex {
  display: flex;
}

/* justify_contant_center */
.d--j-c-sb {
  justify-content: space-between;
}

/* align_items_center */
.d--aln-itm {
  align-items: center;
}

/* text_align */
.txt--aln {
  text-align: center;
}

.brd--b {
  border-bottom: 1px solid rgba(255, 255, 255, 0.384);
}

.a-u {
  color: var(--blue-color);
  text-decoration: none;
  transition: var(--animation);
}
.a-u:hover{
  text-decoration: underline;
}

/*=== _BODY_ ===*/

body {
  background: var(--primary-color);
}

/*=== ALART ===*/
.alart {
  background-color: var(--gray-color);
  color: var(--secondary-color);
  padding: 16px 0;
}

/*=== HEADER ===*/
.header {
  padding: 14px 0;
}

.navbar-brand {
  text-decoration: none;
  color: #ffffff;
  padding-right: 16px;
}

.logo-image img {
  width: 170px;
}

.list-box {
  list-style: none;
  padding: 12px 18px;
  transition: var(--animation);
  border-radius: 4px;
}

.list-box a {
  text-decoration: none;
  color: var(--text-secondary);
  transition: var(--animation);
}

.list-box:hover {
  background-color: var(--bg-color);
  cursor: pointer;
}

.list-box:hover .nav-link {
  color: var(--blue-color);
}

.list-box span{
  position: relative;
  font-size: 7px;
  background: var(--pink-color);
  font-weight: 600;
  color: var(--primary-color);
  padding: 1px 3px;
  border-radius: 10px;
  top: -10px;
  right: -1px;
  z-index: 2;
}

.btn-1 {
  font-weight: 500;
  text-decoration: none;
  color: var(--text-secondary);
  font-size: 14px;
  padding: 6px 18px;
  line-height: 1.6;
  cursor: pointer;
}
.btn-2 {
  font-weight: 500;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-decoration: none;
  padding: 6px 18px;
  font-size: 14px;
  border-radius: 4px;
  line-height: 1.6;
  cursor: pointer;
  transition: var(--animation);
}

.btn-2:hover {
  background-color: #ffffffda;
  color: var(--primary-color);
}


/* dropdoown */

.drop--down{
  position: relative;
  transition: var(--animation);
}



.drop--down-btn{
  padding: 6px 18px;
  background: transparent;
  border: none;
  border-radius: 4px;
  color: var(--text-secondary);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.drop--down:hover .drop--down-btn{
  background: var(--gray-color);
}

.drop--down-btn svg{
  fill: var(--text-secondary);
  width: 20px;
  padding-right: 4px;
}

.drop--down-content{
  display: none;
  position: absolute;
  background-color: var(--gray-color);
  min-width: 140px;
  padding: 8px;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.384);
  border-radius: 4px;
  box-shadow: rgba(251, 251, 254, 0.2) 0px 1px 6px 0px;
}

.drop--down-content a{
  color: var(--secondary-color);
  text-decoration: none;
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  transition: var(--animation);

}

.drop--down-content a:hover{
  background-color: #1b1b1b;
}

.down-content_theme svg{
  fill: var(--secondary-color);
  width: 22px;
  padding-right: 8px;
}

.drop--down:hover .drop--down-content{
  display: block;
}

.drop--down:hover .btn-x{
  background: var(--primary-color);
}

/*=== BREADCRUMP ===*/
.breadcrump{
  background: var(--gray-color);
}


.l-bdcp_menu{
  flex-wrap: wrap;
  list-style: none;
}

.l-bdcp_menu li:not(:last-child)::after{
  display: inline-block;
  margin: 12px;
  content: ">";
  color: var(--text-secondary);
}

.l-bdcp_menu li a{
  text-decoration: none;
  color: var(--text-secondary);
  transition: var(--animation);
}

.l-bdcp_menu li a:hover{
  text-decoration: underline;
}



/*=== MAIN ===*/
.main--container{
  display: grid;
  grid-template-columns: 0.45fr 1fr 0.35fr;
}

.item1{
  background-color: red;
}

.item2{
  background-color: green;
}

.item3{
  background-color: blue;
}